{% extends 'main.html' %} {% block content%}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<div class="home-container">
  <div>
    <h3>Browse Topics</h3>
    <hr />
    <a href="{% url 'home' %}"> All </a>

    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{topic.name}}"> {{topic.name}} </a>
    </div>
    {% endfor %}
  </div>

  <div>
    <a href="{% url 'create-room' %}">New Room</a>
    {% for room in rooms %}
    <div>
      <a href="{% url 'update-room' room.id %}">Edit</a>
      <a href="{% url 'delete-room' room.id %}">Delete</a>
      <span>@{{room.host}}</span>
      <h4><a href="{% url 'room' room.id %}">{{room.name}}</a></h4>
      <small>{{room.topic.name}}</small>
      <hr />

      {% endfor %}
    </div>
  </div>

  {% endblock content %}
</div>
