{% extends "main.html" %}
{% block content %}
    <h1>Room - {{ room.name }}</h1>
    <p><b>Description: </b> {{ room.description }}</p>
    <hr />
    <div class="comment-wrapper">
        <h3>Comment Section</h3>
        <hr />
        {% for message in comments %}
            <div>
                <p>
                    <b>@{{ message.user }}</b>
                    <small>{{ message.created_at|timesince }} ago</small>
                </p>
                {{ message.body }}
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
